<div class="logo"><img src="assets\images\rentMydailyLogoNoFill.png" alt="Logo du site symbolisant une vague verte souflant la poussière de vos objets"></div>

<form #f="ngForm" (ngSubmit)="f.form.valid && onSubmitForm()" *ngIf="!isLogin()">
    <h1>Connexion</h1>
    <div>
        <label for="login">Identifiant: </label>
        <input type="text" id="login" name="username" [(ngModel)]="username" autocomplete="username">
    </div>
    <div>
        <label for="mdp">Mot de passe: </label>
        <input type="password" id="mdp" name="password" [(ngModel)]="password" autocomplete="current-password">
    </div>
    <div class="button">
        <button type="submit">Connexion</button>
    </div>
    <a [routerLink]="['../register']">Inscription</a>
    <div class="alert" *ngIf="f.submitted && !isLogin()">
        <p>Login failed</p>
    </div>
</form>
<div class="success" *ngIf="isLogin()">
    <p>Vous êtes connecté !</p>
    <a [routerLink]="['../accueil']">Revenir à la page d'accueil</a>
</div>
