<div class="logo"><img src="assets\images\rentMydailyLogoNoFill.png" alt="Logo du site symbolisant une vague verte souflant la poussière de vos objets"></div>

<form #f="ngForm" (ngSubmit)="f.form.valid && onSubmitForm()">
    <h1>Connexion</h1>
    <div>
        <label for="login">Identifiant: </label>
        <input type="text" id="login" name="username" [(ngModel)]="username">
    </div>
    <div>
        <label for="mdp">Mot de passe: </label>
        <input type="password" id="mdp" name="password" [(ngModel)]="password">
    </div>
    <div class="button">
        <button type="submit">Connexion</button>
    </div>
    <div class="alert" *ngIf="f.submitted && !isLogin()">
        <p>Login failed</p>
    </div>
</form>
