<div class="container col">
    <div class="logo"><img src="assets\images\rentMydailyLogoNoFill.png"
            alt="Logo du site symbolisant une vague verte souflant la poussière de vos objets"></div>
    <form (ngSubmit)="onSubmitForm()">
        <h1>Inscription</h1>
        <div>
            <label for="Username">Pseudo: </label>
            <input type="text" id="login" name="username" [(ngModel)]="username">
        </div>
        <div>
            <label for="nm">Nom: </label>
            <input type="text" id="nm" name="lastname" [(ngModel)]="lastname">
        </div>
        <div>
            <label for="first">Prénom: </label>
            <input type="text" id="first" name="firstname" [(ngModel)]="firstname">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" [(ngModel)]="email">
        </div>
        <div>
            <label for="tel">Numéro de portable: </label>
            <input type="tel" id="tel" name="phoneNumber" [(ngModel)]="phoneNumber">
        </div>
        <div>
            <label for="mdp">Mot de passe: </label>
            <input type="password" id="mdp" name="password" [(ngModel)]="password">
        </div>
        <div class="button">
            <button type="submit">Envoyer</button>
        </div>

    </form>
</div>